<style>
    .container {
        position: relative;
        height: 100%;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 20px;
        text-align: center;
    }

    .text-block {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius: 10px;
        white-space: pre-wrap;
        line-height: 1.6;
        overflow: auto;
    }

    .bottom-panel {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .start-button {
        background-color: #00cc66;
        color: white;
        font-size: 24px;
        padding: 20px 50px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .lang-buttons button {
        background-color: #0059b3;
        color: white;
        border: none;
        padding: 12px 24px;
        margin: 0 12px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="main-content">
        <div class="text-block">
            @BpDmTerminal.Resources.Messages.Part1

            @BpDmTerminal.Resources.Messages.Part2

            @BpDmTerminal.Resources.Messages.Part3

            @BpDmTerminal.Resources.Messages.Part4
            @BpDmTerminal.Resources.Messages.Part5
        </div>
    </div>

    <div class="bottom-panel">
        <button type="button" onclick="tryStart()" class="start-button">
            @BpDmTerminal.Resources.Messages.Start
        </button>

        <div class="lang-buttons" style="margin-top: 25px;">
            <button onclick="location.href='@Url.Action("SetLanguage", new { lang = "kk" })'">Kaz</button>
            <button onclick="location.href='@Url.Action("SetLanguage", new { lang = "ru" })'">Рус</button>
            <button onclick="location.href='@Url.Action("SetLanguage", new { lang = "en" })'">Eng</button>
        </div>
    </div>
</div>


<script>
    function tryStart() {
        document.getElementById("loaderId").style.display = "flex";

        fetch("http://localhost:8080/card-status/", { method: "POST" })
            .then(response => {
                if (!response.ok) {
                    window.location.href = `/Home/ErrorPage?errorMessage=${response.status}`;
                }
                return response.json();
            })
            .then(data => {
                document.getElementById("loaderId").style.display = "none";
                if (data.status === 0) {
                    alert("В терминале нет карты для выдачи");
                    sendCardEndInformation();
                    return;
                }

                if (data.status === 1)
                    sendCardEndInformation();

                window.location.href = "/Home/SearchPassCardPage";
            })
            .catch(error => {
                window.location.href = `/Home/ErrorPage?errorMessage=${error}`;
            });
    }

    function sendCardEndInformation() {
        fetch("/Home/SendCardEndInformation")
            .then(r => r.json())
            .then(data => { });
    }

</script>