<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/loader.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            background: linear-gradient(to bottom, #003366, #004080);
            color: white;
            font-family: Arial, sans-serif;
            font-size: 22px;
            overflow: hidden;
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
            box-sizing: border-box;
            top:10px;
        }

        .clock {
            position: absolute;
            bottom: 20px;
            right: 30px;
            font-size: 18px;
            opacity: 0.8;
        }

        .back-button {
            position: absolute;
            bottom: 20px;
            left: 30px;
            padding: 12px 24px;
            font-size: 18px;
            background-color: #0059b3;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        .header-title {
            position: absolute;
            /*top: 10px;*/
            padding: 10px;
            width: 100%;
            text-align: center;
            font-size: 34px;
            font-weight: bold;
            color: white;
            z-index: 50;
            background-color: #004080;
        }
    </style>

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="header-title">
        @BpDmTerminal.Resources.Messages.Terminal<br />
        @BpDmTerminal.Resources.Messages.DM
    </div>

    <div id="loaderId" style="position:fixed; display:none; width:100%; height:100%; justify-content:center; align-items:center; background:rgba(0,0,0,.7); z-index:100;">
        <div class="loader">Loading...</div>
        <div style="position:absolute !important; width:100%; height:100%;z-index:1;"></div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <div class="clock" id="clock"></div>

    <script>
        function updateClock() {
            const now = new Date();
            const date = now.toLocaleDateString('ru-RU');
            const time = now.toLocaleTimeString('ru-RU', { hour12: false });
            document.getElementById('clock').innerText = `${date} ${time}`;
        }

        setInterval(updateClock, 1000);
        updateClock();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
